
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
  text-transform: uppercase;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  font: inherit; /*НАследование стилей*/

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.button:hover {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #eeeeee;
}

.site-navigation,
.basket {
  list-style: none;
}

.site-navigation a,
.basket a {
  color: #000000;
}

.site-navigation a:hover,
.basket a:hover {
  color: #fb565a;
}

.site-navigation a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slogan-index {
  background-color: #eeeeee;
}

.slogan-main {
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
}

.slogan-desc {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
}

.advantage-list {
  list-style: none;
}

.advantage-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.advantage-item-desk {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
}

.advantage-button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.advantage-button:nth-child(2) {
  background-color: #00ca74;             /*не работает*/
}

.advantage-button:nth-child(3) {           /*не работает*/
  background-color: #efc84a;
}



