
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  font: inherit; /*НАследование стилей*/
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: #e74246;
  color: rgba(255, 255, 255, 0.3);
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-navigation {
  display: flex;
  padding-bottom: 85px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
}

.main-header-logo {
  margin: 0 200px 0 0;
  padding: 0 0 0 20px;
}

.main-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.navigation-item {
  display: flex;
  margin: 0;
  padding: 30px 0 10px;
  list-style: none;
}

.navigation-item a,
.basket a {
  color: #000000;
}

.navigation-item a:hover,
.basket a:hover {
  color: #fb565a;
}

.navigation-item a:active,
.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation-list {
  width: 100px;
  margin: 0;
  padding: 0 10px 0 0;
}

.basket {
  display: flex;
  width: 100px;
  margin: 0;
  padding: 30px 0 10px;
  list-style: none;
}

.slogan-index {
  margin: 0;
  padding: 0 20px 80px;
  background-color: #eeeeee;
}

.slogan-main {
  margin: 0 0 25px 0;
  padding: 0;
  font-size: 55px;
  line-height: 55px;
  font-weight: 700;
  color: #000000;
}

.slogan-desc {
  margin: 0 0 45px 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
}

.slogan-button {
  width: 200px;
  margin: 0;
  padding:20px 20px;
  background-color: #fb565a;
}

.advantage {
  padding: 90px 20px;
}

.advantage-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-list img {
  margin-bottom: 20px;
}

.advantage-item {
  width: 300px;
  margin: 0;
  padding: 0;
}

.advantage-item-title {
  width: 260px;
  margin: 0 0 20px;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.advantage-item-desk {
  width: 260px;
  margin: 0 0 35px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #283136;
}

.advantage-button {
  width: 120px;
  margin: 0;
  padding: 20px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.advantage-item a:nth-child(odd) {
  background-color: #00ca74;
  color: #8db1ce/*не работает*/
}

.advantage-item > .advantage-button:nth-child(odd) {           /*не работает*/
  background-color: #efc84a;
  color: #8db1ce/*не работает*/
}

.statistics {
  background: #ffffff url("../img/png/nerds.png") no-repeat;
  background-position: 650px 50px;
}

.statistics-subtitle {
  width: 660px;
  margin: 0 0 35px;
  padding: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.statistics-text {
  width: 630px;
  margin: 0 0 35px;
  padding: 0;
}

.statistics-list{
  width: 460px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.statistics-headline {
  width: 460px;
  margin: 0 0 40px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics-item {
  width: 460px;
  margin: 0 0 25px;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.statistics-caption {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.statistics-items {
  list-style: none;
}
.statistics-numbers {
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.statistics-advantages {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
}

.map-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.map-address {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #666666;
}

.map-telephone {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #666666;
}

.map-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fed3d4;
}

.social-icon {
  list-style: none;
}

.social-button {
  background-color: #f5f5f5;
}

.social-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.social-discount {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #444444;
}

.popap-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #000000;
}

.popap-items {
  list-style: none;
}

.popap-text {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.button-send {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fee0e0;
}

/*            2 страница*/
.filter-items {
  list-style: none;
}

.filter-title  {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-grid-input {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
}

.filter-button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.filter-button:hover {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.filter-result {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.filter-result-sorting {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.filter-result-sorting:hover {
  color: rgba(0, 0, 0, 0.6);
}

.filter-result-sorting:active {
  color: rgba(0, 0, 0, 1);
}

.filter-result-site {
  list-style: none;
}
